*{
    font-family: sans-serif;
    font-size: 12px;	
    color: #798e94;
}

body
	{
    width: auto;
    background-color: #EEEEEE;
	margin:0px;
	}

div#nuevocanje
	{
	width:700px;
	height:auto;
	padding:0 px;
	margin: 0 auto;	
	background-color: #E2ECEE;
	}

select#selSector
	{
	float: left;
	margin-left:4%;
	margin-top: 10%;
	padding: 7px 6px;
    width: 294px;
    border: 2px solid #E2ECEE;
	}

select#selEntrega
	{
	float: left;
	margin-left:4%;
	margin-top: 10%;
	padding: 7px 6px;
    width: 294px;
    border: 2px solid #E2ECEE;
	}
	
img#imgSectores 	
		{
		width: 300px;				
		height: 300px;
		}		

div#sectores 	
		{
		width: auto;				
		height: auto;
		float:left;	
		margin-left:4%;
		margin-top:2%;
		}	
		

.txtCanje{
	float: left;
	margin-left:4%;
	margin-top: 2%;
	padding: 7px 6px;
    width: 294px;
    border: 2px solid #E2ECEE;
}



div#titulos
	{
	width:700px;
	height:44px;
	margin: 0 auto;	
	margin-top:1%;
	border-color:black;
	background-color: #002255;
	font-family: sans-serif;
	font-size: 30px;	
	-webkit-box-shadow: 0px 0px 15px #999;
	-moz-box-shadow: 2px 2px 5px #999;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=4); 
	}	
	
div#input{
	background-color: red;
}
